{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="custom-table">
      <tr>
        <th>Game</th>
        <th>Platform</th>
        <th>Completed?</th>
        <th>Playtime</th>
      </tr>

      {% for game in game_list %}
      <tr>
        <td>{{ game['game_title'] }}</td>
        <td>{{ game['platform'] }}</td>

        {% if game['complete'] == 1 %}

        <td>Yes</td>

        {% else %}

        <td>No</td>

        {% endif %}

        <td>{{ game['playtime'] }}</td>
      </tr>

      {% endfor %}

    </table>

{% endblock %}
