{% extends "layout.html" %}

{% block title %}
    Update Games
{% endblock %}

{% block main %}
    <form action="/manage" method="post">
        <div class="form-group">
            <select class="form-control" name="game" required>
                <option value="" selected disabled>Games</option>

                {% for game in game_list %}
                    <option value="{{ game['game_title'] }}">{{ game['game_title'] }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="hours" placeholder="hours" type="int">
            <input autocomplete="off" autofocus class="form-control" name="minutes" placeholder="minutes" type="int">
        </div>

        <div class="form-group">
            <label></label><input value="1" type="radio" name="Completion">
            Complete</label><br>
            <label></label><input value="0" type="radio" name="Completion" checked>
            Not Complete</label><br></br>
        </div>

        <button class="btn btn-primary" type="submit">Update</button>

    </form>
{% endblock %}
